<div class="banner">
  <div class="banner-content">
    <h1 id="banner-heading" >Mr. Cocktail <i class="fas fa-cocktail"></i></h1>
    <p>Find the perfect recipe, or even add your own</p>
    <p class="text-center btn btn-primary btn-lg banner-btn"><%= link_to "Add a cocktail", new_cocktail_path  %></p>
  </div>
</div>
<div class="cards-container">
<% @cocktails.each do |cocktail| %>
<div class="cards">
    <%= cl_image_tag cocktail.photo, width: 400, height: 300, crop: :fill, :class => "cocktail-img"%>
      <h3 class="card-heading"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      <% cocktail.doses.each do |dose| %>
      <p class="card-text"><%= dose.description %></p>
      <% end %>

  </div>
<% end %>
</div>





